/*Title: My Items*/
.title-dashboard {
	width: 80%;
	margin: 40px auto 30px;
}

/* Edit and delete btns container */
.card-body.body-btn-dashboard {
	display: flex;
	flex-direction: column;
}

/* edit btn*/
button.btn.btn-dashboard.btn-dashboard-edit {
	background-color: #d8e8fa;
	color: #000000;
	margin-top: 5px;
}

/* delete btn */
button.btn.btn-dashboard.btn-dashboard-delete {
	background-color: #fad8d8;
	color: #000000;
	margin-top: 5px;
}
