.record {
	width: 80%;
	margin: 30px auto;
}
.details-record {
	display: flex;
	flex-direction: row;
}
.container-details {
	display: flex;
	flex-direction: column;
}
img.img-record {
	width: 30%;
	height: 400px;
	border-radius: 5px;
}
.detail {
	color: brown;
}
