/* Navbar 1 with the logo */
/* Navbar */
.navbar {
	background-color: #ffffff;
	border-bottom: 1px solid #cfc9c9;
}

/* logo */
.navbar-brand {
	margin-right: 0;
	width: 7%;
}
.navbar-toggler-icon {
	color: #000000;
}
.logo {
	width: 100px;
	height: 45px;
}

/* search */
.form-search {
	width: 80%;
	display: flex;
	flex-direction: row;
}
.inputSearch {
	width: 85% !important;
	margin-left: 2%;
}

/* sell now btn */
.btn-sell {
	background-color: #712296;
	color: #ffffff;
	font-size: 14px;
}
.btn-sell:hover {
	color: #ffffff;
}

/* signUp login btn */
.btn-signUp-login {
	background-color: #ffffff;
	color: #000000;
	border-color: #cfc9c9;
	font-size: 14px;
	margin-right: 2%;
}

/* Navbar 2 with the 8 product categories */
.section-links-navbar {
	display: flex;
	flex-direction: row;
	border-bottom: 1px solid #cfc9c9;
	padding: 10px 10px 10px 40px;
}
a.link-navbar {
	/* color: #cfc9c9; */
	color: #6e6e6e;
	margin-right: 40px;
	letter-spacing: 2px;
	font-size: 14px;
}
.link-navbar:hover {
	color: #712296;
	text-decoration: none;
	font-weight: 700;
}
